.App {display: flex;
  text-align: center;
  background-image: url(https://i.pinimg.com/736x/8a/6d/41/8a6d4130ab66fd5aa48d3464bb951e87--macbook-wallpaper-dress-your-tech.jpg);
  /* (./component/movies/cinema-wallpaper-social-media-message-background-vector.jpg); */
  -webkit-animation: backgroundScroll 20s linear infinite;
animation: backgroundScroll 20s linear infinite;
flex-direction: column;
    align-content: center;
    align-items: center;

}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
        
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
.btnadd{
  margin: 2rem;
  padding: 0.2rem;
}
.fa-star{
  color: gold;
}
.movieList{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card{
  margin : 20px;
}
h1{color: green}


.filter {
  width: 50%;
  display: flex;
  padding: 5rem;
  margin: 0 auto;
}
.details {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-end;
  align-items: center;
  background-color: aliceblue;
  width: 50rem;
  padding: 0.5rem;
  margin: 0.5rem;
}